<div class="parallax-container valign-wrapper">
  <div class="parallax">
  <%= image_tag("chalk.jpg", :alt => "rss feed") %>
  </div>

	<div class="container">
			<h2 class="flow-text white-text center valign"> Rooted in systemic change, ULink's mission is to increase college graduation rates by providing access, support, and stronger lines of communication to traditionally underserved community college students and administrators through a longitudinal student tracking platform and a personalized student coaching program. </h2>
		
	
</div>

  <footer class="page-footer indigo darken-3">
    <div class="footer-copyright">
      <div class="container">
      Copyright © ULink 2016. All rights reserved.
      <a class="grey-text text-lighten-4 right" href="donate">Donate</a>
      <a class="grey-text text-lighten-4 right" href="privacy">Privacy Statement   </a>
      </div>
      <div class="row"></div>
      <div class="row"></div>
    </div>
  </footer>