<div class="container">

	<div class="row center flow-text">
		<h3>Donate Online</h3>
	</div>

	<div class="row flow-text">
		<p class="flow-text">
			Your donation will help increase the transfer rate between community colleges and four year institutions. 
		</p>
		<a class="indigo-text" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=G6ABULGDRV4KQ"> Click here to make a donation. </a>
	</div>

	<div class="row">
	</div>
	<div class="row">
	</div>

	<div class="row center flow-text">
		<h3>Check Donations</h3>
	</div>

	<div class="row flow-text">
		<p class="flow-text">
			Please make your check payable to “L.C. and Lillie Cox Haven of Hope,” and in the memo line please indicate “ULink.” 
		</p>
		<p class="flow-text">
			Checks can be mailed to:
		</p>

		<div class="card center">
			<p>L.C. and Lillie Cox Haven of Hope</p>
			<p>696 San Ramon Valley Blvd., No. 194</p>
			<p>Danville, CA 94526</p>
		</div>

		<p class="flow-text">
			ULink’s programs and activities include building human capital and technical infrastructure to alleviate the counseling-student gap; spreading the organization’s approach through proactive outreach, and communications and knowledge-sharing.
		</p>

		<p class="flow-text">
			Donors will receive periodic email updates on our work and other ways to get involved.
		</p>
		<p class="flow-text">
			ULink is under fiscal sponsorship through L.C. and Lillie Cox Haven of Hope, a registered 501(c)(3) organization. Donations to ULink are tax-deductible to the full extent of the law.
		</p>
	</div>
</div>