

<h1> This should not be roboto </h1>

<div class="container">
  <div class="video-container">
    <iframe width="853" height="480" src="https://player.vimeo.com/video/152760161" frameborder="0" allowfullscreen></iframe>
  </div>
</div>

<div class="container">
  <div class="card-panel">
    <div class="row">
      <div class="col s4">
        <img class="center-block circle responsive-img" <%= image_tag("phil.jpg", :alt => "rss feed") %>
      </div>
      <div class="col s4">
        <img class="center-block circle responsive-img" <%= image_tag("parisa.gif", :alt => "rss feed") %>
      </div>
      <div class="col s4">
        <img class="center-block circle responsive-img" <%= image_tag("jubril.jpg", :alt => "rss feed") %>
      </div>
    </div>
  </div>
</div>


<div class="parallax-container">
  <div class="parallax">
  <%= image_tag("success.jpg", :alt => "rss feed") %>
  </div>

  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>

  <div class="container center">
    <a class="card-panel indigo darken-3 white-text" href="https://will253.typeform.com/to/jxkeeN" data-mode="1" target="_blank">Sign Up for the Beta</a>
    <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;qs.href=b+'share-button.css';s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()</script>
  </div>

  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>

  <footer class="page-footer indigo darken-3">
    <div class="footer-copyright">
      <div class="container">
      Copyright © ULink 2016. All rights reserved.
      <a class="grey-text text-lighten-4 right" href="#!">Donate</a>
      <a class="grey-text text-lighten-4 right" href="#!">Privacy Statement   </a>
      </div>
      <div class="row"></div>
       <div class="row"></div>
    </div>
  </footer>

</div>





