<div class="container">
  <h2 class="flow-text white-text center valign"> Updated blog posts and press releases go here, tbd
    https://www.cityyear.org/blog/how-alumni-are-supporting-community-college-transfer-students
    http://bostinno.streetwise.co/2016/05/13/how-to-get-a-job-in-tech-community-college-certificates/

   </h2>
</div>
