<div class="container">
  <h2 class="flow-text white-text center valign"> Updated blog posts and press releases go here, tbd
    https://www.cityyear.org/blog/how-alumni-are-supporting-community-college-transfer-students
    http://bostinno.streetwise.co/2016/05/13/how-to-get-a-job-in-tech-community-college-certificates/

   </h2>

   <div class="container center">
  
  <div class="row"></div>
  <div class="row"></div>

  <h4 class="blue-text text-darken-4">
    Blog
  </h4>
  <h5> <a href="press">Title of "Featured" Entry</a>  </h5>
  <div class="row"></div>
  <%= image_tag("blog.png", :alt => "rss feed") %>
  <div class="row"></div>
    <h5> <a href="press">Title of Second Entry</a>  </h5>
    <h5> <a href="press">Title of Third Entry</a>  </h5>

<div class="row"></div>
<div class="row"></div>
</div>
