<div class="container">

	<div class="row center">
		<h1>Privacy Statement</h1>
	</div>

	<div class="row center flow-text">
		<p class="flow-text">
			At ULink, we live by our values. Courage for us is having the audacity to be ambitious, the humility to admit failure, and the resilience to try again. On behalf of ULink, the leadership team would like to apologize for not explicitly informing our users of how their personal information is used within our services.  
		</p>
		<p class="flow-text">
			ULink wishes for users to understand how personal information provided by those enrolling in the program is collected and with whom it is shared. Enrollees enter personal information in the ULink application in order to create an individual profile that can be matched to recruitment profiles of senior colleges, and to criteria used by granting organizations and foundations that award scholarships and grants. Each enrollee must enter personal information, relative academic performance, personal interests and ambitions, financial status and other data determined necessary for developing a complete profile to design the best college fit and scholarship criteria match for the student. 
		</p>

		<p class="flow-text">
			Enrollee information may be shared with local community college officials and four-year college officials, with whom ULink has an authorized agreement, to assist students in the transfer planning process. Enrollee information may be shared with granting organizations and foundations that offer scholarship and grant assistance to community college transfer students for purposes of identifying qualified applicants. These parties, by authorized agreement, may not release student personal information to other parties.
		</p>
		<p class="flow-text">
			Personal student information is secured in the ULink database from unauthorized access through software security measures. 
		</p>
	</div>
</div>
