  <div class="row"> </div>

  <div class="container">
  
    <div class="row">
      <div class="col s8 m6 l4">
        <h5 class="center">
          Phillip Ellison
        </h5>
        <h5 class="center">
          Managing Director
        </h5>
        <div class="card-panel">
          <img class="center-block circle responsive-img" <%= image_tag("phil.jpg", :alt => "rss feed") %>
        </div>
        <div class="card-content">
          <p class="center">For a landing page, I would recommend that each of you shortens your bio to approximately this length. For a landing page, I would recommend that each of you shortens your bio to approximately this length. For a landing page, I would recommend that each of you shortens your bio to approximately this length..</p>
        </div>
      </div>

      <div class="col s8 m6 l4">
        <h5 class="center">
        Parisa Esmaili
        </h5>
        <h5 class="center">
          Business Development
        </h5>
        <div class="card-panel">
          <img class="center-block circle responsive-img" <%= image_tag("parisa.gif", :alt => "rss feed") %>
        </div>
        <div class="card-content">
          <p class="center">For a landing page, I would recommend that each of you shortens your bio to approximately this length. For a landing page, I would recommend that each of you shortens your bio to approximately this length. For a landing page, I would recommend that each of you shortens your bio to approximately this length..</p>
        </div>
      </div>

      <div class="col s8 m6 l4">
        <h5 class="center">
          Jubril Lawal
        </h5>
        <h5 class="center">
          Operations
        </h5>
        <div class="card-panel">
          <img class="center-block circle responsive-img" <%= image_tag("jubril.jpg", :alt => "rss feed") %>
        </div>
        <div class="card-content">
          <p class="center">For a landing page, I would recommend that each of you shortens your bio to approximately this length. For a landing page, I would recommend that each of you shortens your bio to approximately this length. For a landing page, I would recommend that each of you shortens your bio to approximately this length.</p>
        </div>
      </div>
    </div>
  </div>