@import "materialize";

   html {
    font-family: comfortaa, open sans;
  }


  h5, p {
    font-family: open sans;
  }

  h1 {

    font-size: 1000%;

  }

  h4 {

    font-size: 350%;

  }


strong {
  font-family: Arial;
  font-weight: 700;
}

  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #F7E2C5;
  }

  main {
    flex: 1 0 auto;
  }
  
  blockquote {
  margin: 20px 0;
  padding-left: 1.5rem;
  border-left: 5px solid #283593;
  }

  /* label color */
  .input-field label {
     color: #789;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #fff;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #fff;
     box-shadow: 0 1px 0 0 #000;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #fff;
     box-shadow: 0 1px 0 0 #000;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid #789;
     box-shadow: 0 1px 0 0 #000;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #fff;
   }